target="#TARGETPOOL#:#DATASET#"
target_pool="#TARGETPOOL#"
target_folder="#DATASET#"
dataset_name="#DATASET#"
pool="#SOURCEPOOL#"
folder="#DATASET#"
job_status="/#SOURCEPOOL#/zfs_tools/var/replication/jobs/status/#DATASET###TARGETPOOL#:#DATASET#"
source_tracker="/#SOURCEPOOL#/zfs_tools/var/replication/source/#DATASET#"
dataset_targets="/#SOURCEPOOL#/zfs_tools/var/replication/targets/#DATASET#"
replication_count="1"
mode="b"
options=""
frequency="10m"
failure_limit="default"
