#! /bin/bash

# Define interface stubs
declare -A interface_definition
interface_definition=(
    ["vlan96i0"]="ipmp vlan96i0"

    ["vlan120i0"]="ipmp vlan120i0"
    
    ["vlan145i0"]='ipmp vlan145i0'

    ["vlan160i0"]="ipmp vlan160i0"

    ["vlan161i0"]="ipmp vlan161i0"

    ["vlan163i0"]="ipmp vlan163i0"

    ["vlan164i0"]="ipmp vlan164i0"

    ["vlan170i0"]="ipmp vlan170i0"

    ["vlan175i0"]="ipmp vlan175i0"

    ["vlan176i0"]="ipmp vlan176i0"

    ["vlan241i0"]="ipmp vlan241i0"

    ["vlan253i0"]="ipmp vlan253i0"

    ["vlan326i0"]="ipmp vlan326i0"

    ["vlan400i0"]="ipmp vlan400i0"

    ["vlan490i0"]="ipmp vlan490i0"

    ["vlan540i0"]="ipmp vlan540i0"

    ["vlan800i0"]="ipmp vlan800i0"

    ["vlan801i0"]="ipmp vlan801i0"

    ["vlan802i0"]="ipmp vlan802i0"

    ["vlan803i0"]="ipmp vlan803i0"

    ["vlan900i0"]="ipmp vlan900i0"
    
    ["vlan910i0"]='ipmp vlan910i0'
    
    ["vlan930i0"]='ipmp vlan930i0'

    ["vlan2307i0"]='ipmp vlan2307i0'

    ["vlan2314i0"]='ipmp vlan2314i0'

    ["vlan2316i0"]='ipmp vlan2316i0'


    ["vlan96v0"]="vlan vlan96v0"
    ["vlan96v1"]="vlan vlan96v1"

    ["vlan120v0"]="vlan vlan120v0"
    ["vlan120v1"]="vlan vlan120v1"

    ["vlan145v0"]="vlan vlan145v0"
    ["vlan145v1"]="vlan vlan145v1"
                                 
    ["vlan160v0"]="vlan vlan160v0"
    ["vlan160v1"]="vlan vlan160v1"
                             
    ["vlan161v0"]="vlan vlan161v0"
    ["vlan161v1"]="vlan vlan161v1"
                             
    ["vlan163v0"]="vlan vlan163v0"
    ["vlan163v1"]="vlan vlan163v1"
                             
    ["vlan164v0"]="vlan vlan164v0"
    ["vlan164v1"]="vlan vlan164v1"
                             
    ["vlan170v0"]="vlan vlan170v0"
    ["vlan170v1"]="vlan vlan170v1"
                             
    ["vlan175v0"]="vlan vlan175v0"
    ["vlan175v1"]="vlan vlan175v1"
                             
    ["vlan176v0"]="vlan vlan176v0"
    ["vlan176v1"]="vlan vlan176v1"
                             
    ["vlan241v0"]="vlan vlan241v0"
    ["vlan241v1"]="vlan vlan241v1"
                             
    ["vlan253v0"]="vlan vlan253v0"
    ["vlan253v1"]="vlan vlan253v1"
                             
    ["vlan326v0"]="vlan vlan326v0"
    ["vlan326v1"]="vlan vlan326v1"
                             
    ["vlan400v0"]="vlan vlan400v0"
    ["vlan400v1"]="vlan vlan400v1"
                             
    ["vlan490v0"]="vlan vlan490v0"
    ["vlan490v1"]="vlan vlan490v1"
                             
    ["vlan540v0"]="vlan vlan540v0"
    ["vlan540v1"]="vlan vlan540v1"
                             
    ["vlan800v0"]="vlan vlan800v0"
    ["vlan800v1"]="vlan vlan800v1"
                             
    ["vlan801v0"]="vlan vlan801v0"
    ["vlan801v1"]="vlan vlan801v1"
                             
    ["vlan802v0"]="vlan vlan802v0"
    ["vlan802v1"]="vlan vlan802v1"
                             
    ["vlan803v0"]="vlan vlan803v0"
    ["vlan803v1"]="vlan vlan803v1"
                             
    ["vlan900v0"]="vlan vlan900v0"
    ["vlan900v1"]="vlan vlan900v1"

    ["vlan910v0"]="vlan vlan910v0"
    ["vlan910v1"]="vlan vlan910v1"

    ["vlan930v0"]="vlan vlan930v0"
    ["vlan930v1"]="vlan vlan930v1"

    ["vlan910v0"]='vlan vlan910v0'
    ["vlan910v1"]='vlan vlan910v1'

    ["vlan930v0"]='vlan vlan930v0'
    ["vlan930v1"]='vlan vlan930v1'

    ["vlan2307v0"]='vlan vlan2307v0'
    ["vlan2307v1"]='vlan vlan2307v1'

    ["vlan2314v0"]='vlan vlan2314v0'
    ["vlan2314v1"]='vlan vlan2314v1'

    ["vlan2316v0"]='vlan vlan2316v0'
    ["vlan2316v1"]='vlan vlan2316v1'

)

# Define IPMP stubs

declare -A ipmp_definition

ipmp_definition=(
    ["vlan96i0"]="vlan96v0 vlan96v1"

    ["vlan120i0"]="vlan120v0 vlan120v1"

    ["vlan145i0"]="vlan145v0 vlan145v1"

    ["vlan160i0"]="vlan160v0 vlan160v1"

    ["vlan161i0"]="vlan161v0 vlan161v1"

    ["vlan163i0"]="vlan163v0 vlan163v1"

    ["vlan164i0"]="vlan164v0 vlan164v1"

    ["vlan170i0"]="vlan170v0 vlan170v1"

    ["vlan175i0"]="vlan175v0 vlan175v1"

    ["vlan176i0"]="vlan176v0 vlan176v1"

    ["vlan241i0"]="vlan241v0 vlanv241"

    ["vlan253i0"]="vlan253v0 vlan253v1"

    ["vlan326i0"]="vlan326v0 vlan326v1"
    ["vlan326i0_persistent"]="true"

    ["vlan400i0"]="vlan400v0 vlan400v1"

    ["vlan490i0"]="vlan490v0 vlan490v1"

    ["vlan540i0"]="vlan540v0 vlan540v1"

    ["vlan800i0"]="vlan800v1 vlan800v0"

    ["vlan801i0"]="vlan801v1 vlan801v0"

    ["vlan802i0"]="vlan802v1 vlan802v0"

    ["vlan803i0"]="vlan803v1 vlan803v0"

    ["vlan900i0"]="vlan900v0 vlan900v1"

    ["vlan910i0"]="vlan910v0 vlan910v1"

    ["vlan930i0"]="vlan930v0 vlan930v1"

    ["vlan2307i0"]="vlan2307v0 vlan2307v1"

    ["vlan2314i0"]="vlan2314v0 vlan2314v1"

    ["vlan2316i0"]="vlan2316v0 vlan2316v1"
)

# Define VLAN stubs

declare -A vlan_definition

vlan_definition=(
    ["vlan96v0"]="${coop_nic1} 96 9000"
    ["vlan96v1"]="${coop_nic2} 96 9000"

    ["vlan120v0"]="${coop_nic1} 120 9000"
    ["vlan120v1"]="${coop_nic2} 120 9000"

    ["vlan145v0"]="${wucon_nic1} 145"
    ["vlan145v1"]="${wucon_nic2} 145"

    ["vlan160v0"]="${coop_nic1} 160 9000"
    ["vlan160v1"]="${coop_nic2} 160 9000"

    ["vlan161v0"]="${coop_nic1} 161 9000"
    ["vlan161v1"]="${coop_nic2} 161 9000"

    ["vlan163v0"]="${coop_nic1} 163 9000"
    ["vlan163v1"]="${coop_nic2} 163 9000"

    ["vlan164v0"]="${coop_nic1} 164 9000"
    ["vlan164v1"]="${coop_nic2} 164 9000"

    ["vlan170v0"]="${coop_nic1} 170 9000"
    ["vlan170v1"]="${coop_nic2} 170 9000"

    ["vlan175v0"]="${coop_nic1} 175 9000"
    ["vlan175v1"]="${coop_nic2} 175 9000"

    ["vlan176v0"]="${coop_nic1} 176 9000"
    ["vlan176v1"]="${coop_nic2} 176 9000"

    ["vlan241v0"]="${coop_nic1} 241 9000"
    ["vlan241v1"]="${coop_nic2} 241 9000"

    ["vlan253v0"]="${coop_nic1} 253 9000"
    ["vlan253v1"]="${coop_nic2} 253 9000"

    ["vlan326v0"]="${coop_nic1} 326 9000"
    ["vlan326v0_persistent"]="true"
    ["vlan326v1"]="${coop_nic2} 326 9000"
    ["vlan326v1_persistent"]="true"

    ["vlan400v0"]="${coop_nic1} 400 9000"
    ["vlan400v1"]="${coop_nic2} 400 9000"

    ["vlan490v0"]="${coop_nic1} 490 9000"
    ["vlan490v1"]="${coop_nic2} 490 9000"

    ["vlan540v0"]="${coop_nic1} 540 9000"
    ["vlan540v1"]="${coop_nic2} 540 9000"

    ["vlan800v0"]="${coop_nic1} 800 9000"
    ["vlan800v1"]="${coop_nic2} 800 9000"

    ["vlan801v0"]="${coop_nic1} 801 9000"
    ["vlan801v1"]="${coop_nic2} 801 9000"

    ["vlan802v0"]="${coop_nic1} 802 9000"
    ["vlan802v1"]="${coop_nic2} 802 9000"

    ["vlan803v0"]="${coop_nic1} 803 9000"
    ["vlan803v1"]="${coop_nic2} 803 9000"

    ["vlan900v0"]="${coop_nic1} 900 9000"
    ["vlan900v1"]="${coop_nic2} 900 9000"

    ["vlan910v0"]="${coop_nic1} 910 9000"
    ["vlan910v1"]="${coop_nic2} 910 9000"
    
    ["vlan930v0"]="${coop_nic1} 930 9000"
    ["vlan930v1"]="${coop_nic2} 930 9000"

    ["vlan2307v0"]="${wucon_nic1} 2307 9000"
    ["vlan2307v1"]="${wucon_nic2} 2307 9000"

    ["vlan2314v0"]="${wucon_nic1} 2314 9000"
    ["vlan2314v1"]="${wucon_nic2} 2314 9000"
     
    ["vlan2316v0"]="${wucon_nic1} 2316 1500"
    ["vlan2316v1"]="${wucon_nic2} 2316 1500"
     
)


