#! /bin/bash

# This file managed by OZMT/ozmt puppet module.

# Define interface stubs
declare -A interface_definition
interface_definition=(
    ["vlan96i0"]='ipmp vlan96i0'
    ["vlan96i1"]='ipmp vlan96i1'

    ["vlan120i0"]='ipmp vlan120i0'
    ["vlan120i1"]='ipmp vlan120i1'
    
    ["vlan145i0"]='ipmp vlan145i0'

    ["vlan160i0"]='ipmp vlan160i0'
    ["vlan160i1"]='ipmp vlan160i1'

    ["vlan161i0"]='ipmp vlan161i0'
    ["vlan161i1"]='ipmp vlan161i1'

    ["vlan163i0"]='ipmp vlan163i0'
    ["vlan163i1"]='ipmp vlan163i1'

    ["vlan164i0"]='ipmp vlan164i0'
    ["vlan164i1"]='ipmp vlan164i1'

    ["vlan170i0"]='ipmp vlan170i0'
    ["vlan170i1"]='ipmp vlan170i1'

    ["vlan175i0"]='ipmp vlan175i0'
    ["vlan175i1"]='ipmp vlan175i1'

    ["vlan176i0"]='ipmp vlan176i0'
    ["vlan176i1"]='ipmp vlan176i1'

    ["vlan203i0"]='ipmp vlan203i0'
    ["vlan203i1"]='ipmp vlan203i1'

    ["vlan241i0"]='ipmp vlan241i0'
    ["vlan241i1"]='ipmp vlan241i1'

    ["vlan253i0"]='ipmp vlan253i0'
    ["vlan253i1"]='ipmp vlan253i1'

    ["vlan326i0"]='ipmp vlan326i0'
    ["vlan326i1"]='ipmp vlan326i1'

    ["vlan400i0"]='ipmp vlan400i0'
    ["vlan400i1"]='ipmp vlan400i1'

    ["vlan490i0"]='ipmp vlan490i0'
    ["vlan490i1"]='ipmp vlan490i1'

    ["vlan540i0"]='ipmp vlan540i0'
    ["vlan540i1"]='ipmp vlan540i1'

    ["vlan800i0"]='ipmp vlan800i0'
    ["vlan800i1"]='ipmp vlan800i1'

    ["vlan801i0"]='ipmp vlan801i0'
    ["vlan801i1"]='ipmp vlan801i1'

    ["vlan802i0"]='ipmp vlan802i0'
    ["vlan802i1"]='ipmp vlan802i1'

    ["vlan803i0"]='ipmp vlan803i0'
    ["vlan803i1"]='ipmp vlan803i1'
    
    ["vlan900i0"]='ipmp vlan900i0'
    ["vlan900i1"]='ipmp vlan900i1'
    
    ["vlan910i0"]='ipmp vlan910i0'
    ["vlan910i1"]='ipmp vlan910i1'
    
    ["vlan930i0"]='ipmp vlan930i0'
    ["vlan930i1"]='ipmp vlan930i1'



    ["vlan96v0"]='vlan vlan96v0'
    ["vlan96v1"]='vlan vlan96v1'
    ["vlan96v2"]='vlan vlan96v2'

    ["vlan120v0"]='vlan vlan120v0'
    ["vlan120v1"]='vlan vlan120v1'
    ["vlan120v2"]='vlan vlan120v2'
    
    ["vlan145v0"]='vlan vlan145v0'
    ["vlan145v1"]='vlan vlan145v1'
                             
    ["vlan160v0"]='vlan vlan160v0'
    ["vlan160v1"]='vlan vlan160v1'
    ["vlan160v2"]='vlan vlan160v2'
                             
    ["vlan161v0"]='vlan vlan161v0'
    ["vlan161v1"]='vlan vlan161v1'
    ["vlan161v2"]='vlan vlan161v2'
                             
    ["vlan163v0"]='vlan vlan163v0'
    ["vlan163v1"]='vlan vlan163v1'
    ["vlan163v2"]='vlan vlan163v2'
                             
    ["vlan164v0"]='vlan vlan164v0'
    ["vlan164v1"]='vlan vlan164v1'
    ["vlan164v2"]='vlan vlan164v2'
                             
    ["vlan170v0"]='vlan vlan170v0'
    ["vlan170v1"]='vlan vlan170v1'
    ["vlan170v2"]='vlan vlan170v2'
                             
    ["vlan175v0"]='vlan vlan175v0'
    ["vlan175v1"]='vlan vlan175v1'
    ["vlan175v2"]='vlan vlan175v2'
                             
    ["vlan176v0"]='vlan vlan176v0'
    ["vlan176v1"]='vlan vlan176v1'
    ["vlan176v2"]='vlan vlan176v2'

    ["vlan203v0"]='vlan vlan203v0'
    ["vlan203v1"]='vlan vlan203v1'
    ["vlan203v2"]='vlan vlan203v2'
                             
    ["vlan241v0"]='vlan vlan241v0'
    ["vlan241v1"]='vlan vlan241v1'
    ["vlan241v2"]='vlan vlan241v2'
                             
    ["vlan253v0"]='vlan vlan253v0'
    ["vlan253v1"]='vlan vlan253v1'
    ["vlan253v2"]='vlan vlan253v2'
                             
    ["vlan326v0"]='vlan vlan326v0'
    ["vlan326v1"]='vlan vlan326v1'
    ["vlan326v2"]='vlan vlan326v2'
                             
    ["vlan400v0"]='vlan vlan400v0'
    ["vlan400v1"]='vlan vlan400v1'
    ["vlan400v2"]='vlan vlan400v2'
                             
    ["vlan490v0"]='vlan vlan490v0'
    ["vlan490v1"]='vlan vlan490v1'
    ["vlan490v2"]='vlan vlan490v2'
                             
    ["vlan540v0"]='vlan vlan540v0'
    ["vlan540v1"]='vlan vlan540v1'
    ["vlan540v2"]='vlan vlan540v2'
                             
    ["vlan800v0"]='vlan vlan800v0'
    ["vlan800v1"]='vlan vlan800v1'
    ["vlan800v2"]='vlan vlan800v2'
                             
    ["vlan801v0"]='vlan vlan801v0'
    ["vlan801v1"]='vlan vlan801v1'
    ["vlan801v2"]='vlan vlan801v2'
                             
    ["vlan802v0"]='vlan vlan802v0'
    ["vlan802v1"]='vlan vlan802v1'
    ["vlan802v2"]='vlan vlan802v2'
                             
    ["vlan803v0"]='vlan vlan803v0'
    ["vlan803v1"]='vlan vlan803v1'
    ["vlan803v2"]='vlan vlan803v2'
                             
    ["vlan900v0"]='vlan vlan900v0'
    ["vlan900v1"]='vlan vlan900v1'
    ["vlan900v2"]='vlan vlan900v2'
    
    ["vlan910i0"]='ipmp vlan910i0'
    ["vlan910i1"]='ipmp vlan910i1'

    ["vlan930i0"]='ipmp vlan930i0'
    ["vlan930i1"]='ipmp vlan930i1'

    ["vlan910v0"]='vlan vlan910v0'
    ["vlan910v1"]='vlan vlan910v1'
    ["vlan910v2"]='vlan vlan910v2'

    ["vlan930v0"]='vlan vlan930v0'
    ["vlan930v1"]='vlan vlan930v1'
    ["vlan930v2"]='vlan vlan930v2'
)

# Define IPMP stubs

declare -A ipmp_definition

ipmp_definition=(
    ["vlan96i0"]='vlan96v0 vlan96v1'
    ["vlan96i1"]='vlan96v2'

    ["vlan120i0"]='vlan120v0 vlan120v1'
    ["vlan120i1"]='vlan120v2'
    
    ["vlan145i0"]='vlan145v0 vlan145v1'
    
    ["vlan145v0"]='vlan vlan145v0'
    ["vlan145v1"]='vlan vlan145v1'

    ["vlan160i0"]='vlan160v0 vlan160v1'
    ["vlan160i1"]='vlan160v2'

    ["vlan161i0"]='vlan161v0 vlan161v1'
    ["vlan161i1"]='vlan161v2'

    ["vlan163i0"]='vlan163v0 vlan163v1'
    ["vlan163i1"]='vlan163v2'

    ["vlan164i0"]='vlan164v0 vlan164v1'
    ["vlan164i1"]='vlan164v2'

    ["vlan170i0"]='vlan170v0 vlan170v1'
    ["vlan170i1"]='vlan170v2'

    ["vlan175i0"]='vlan175v0 vlan175v1'
    ["vlan175i1"]='vlan175v2'

    ["vlan176i0"]='vlan176v0 vlan176v1'
    ["vlan176i1"]='vlan176v2'

    ["vlan203i0"]='vlan203v0 vlan203v1'
    ["vlan203i1"]='vlan203v2'

    ["vlan241i0"]='vlan241v0 vlanv241'
    ["vlan241i1"]='vlan241v2'

    ["vlan253i0"]='vlan253v0 vlan253v1'
    ["vlan253i1"]='vlan253v2'

    ["vlan326i0"]='vlan326v0 vlan326v1'
    ["vlan326i0_persistent"]='true'
    ["vlan326i1"]='vlan326v2'

    ["vlan400i0"]='vlan400v0 vlan400v1'
    ["vlan400i1"]='vlan400v2'

    ["vlan490i0"]='vlan490v0 vlan490v1'
    ["vlan490i1"]='vlan490v2'

    ["vlan540i0"]='vlan540v0 vlan540v1'
    ["vlan540i1"]='vlan540v2'

    ["vlan800i0"]='vlan800v1 vlan800v0'
    ["vlan800i1"]='vlan800v2'

    ["vlan801i0"]='vlan801v1 vlan801v0'
    ["vlan801i1"]='vlan801v2'

    ["vlan802i0"]='vlan802v1 vlan802v0'
    ["vlan802i1"]='vlan802v2'

    ["vlan803i0"]='vlan803v1 vlan803v0'
    ["vlan803i1"]='vlan803v2'

    ["vlan900i0"]='vlan900v0 vlan900v1'
    ["vlan900i1"]='vlan900v2'
    
    ["vlan910i0"]='vlan910v0 vlan910v1'
    ["vlan910i1"]='vlan910v2'
    
    ["vlan930i0"]='vlan930v0 vlan930v1'
    ["vlan930i1"]='vlan930v2'

)

# Define VLAN stubs

declare -A vlan_definition

vlan_definition=(
    ["vlan96v0"]='ixgbe0 96 9000'
    ["vlan96v1"]='ixgbe1 96 9000'
    ["vlan96v2"]='igb3 96'

    ["vlan120v0"]='ixgbe0 120 9000'
    ["vlan120v1"]='ixgbe1 120 9000'
    ["vlan120v2"]='igb3 120'
    
    ["vlan145v0"]='ixgbe0 145'
    ["vlan145v1"]='ixgbe1 145'

    ["vlan160v0"]='ixgbe0 160 9000'
    ["vlan160v1"]='ixgbe1 160 9000'
    ["vlan160v2"]='igb3 160'

    ["vlan161v0"]='ixgbe0 161 9000'
    ["vlan161v1"]='ixgbe1 161 9000'
    ["vlan161v2"]='igb3 161'

    ["vlan163v0"]='ixgbe0 163 9000'
    ["vlan163v1"]='ixgbe1 163 9000'
    ["vlan163v2"]='igb3 163'

    ["vlan164v0"]='ixgbe0 164 9000'
    ["vlan164v1"]='ixgbe1 164 9000'
    ["vlan164v2"]='igb3 120'

    ["vlan170v0"]='ixgbe0 170 9000'
    ["vlan170v1"]='ixgbe1 170 9000'
    ["vlan170v2"]='igb3 170'

    ["vlan175v0"]='ixgbe0 175 9000'
    ["vlan175v1"]='ixgbe1 175 9000'
    ["vlan175v2"]='igb3 175'

    ["vlan176v0"]='ixgbe0 176 9000'
    ["vlan176v1"]='ixgbe1 176 9000'
    ["vlan176v2"]='igb3 176'

    ["vlan203v0"]='ixgbe0 203 9000'
    ["vlan203v1"]='ixgbe1 203 9000'
    ["vlan203v2"]='igb3 203'

    ["vlan241v0"]='ixgbe0 241 9000'
    ["vlan241v1"]='ixgbe1 241 9000'
    ["vlan241v2"]='igb3 241'

    ["vlan253v0"]='ixgbe0 253 9000'
    ["vlan253v1"]='ixgbe1 253 9000'
    ["vlan253v2"]='igb3 253'

    ["vlan326v0"]='ixgbe0 326 9000'
    ["vlan326v0_persistent"]='true'
    ["vlan326v1"]='ixgbe1 326 9000'
    ["vlan326v1_persistent"]='true'
    ["vlan326v2"]='igb3 326'

    ["vlan400v0"]='ixgbe0 400 9000'
    ["vlan400v1"]='ixgbe1 400 9000'
    ["vlan400v2"]='igb3 400'

    ["vlan490v0"]='ixgbe0 490 9000'
    ["vlan490v1"]='ixgbe1 490 9000'
    ["vlan490v2"]='igb3 490'

    ["vlan540v0"]='ixgbe0 540 9000'
    ["vlan540v1"]='ixgbe1 540 9000'
    ["vlan540v2"]='igb3 540'

    ["vlan800v0"]='ixgbe0 800 9000'
    ["vlan800v1"]='ixgbe1 800 9000'
    ["vlan800v2"]='igb3 800'

    ["vlan801v0"]='ixgbe0 801 9000'
    ["vlan801v1"]='ixgbe1 801 9000'
    ["vlan801v2"]='igb3 801'

    ["vlan802v0"]='ixgbe0 802 9000'
    ["vlan802v1"]='ixgbe1 802 9000'
    ["vlan802v2"]='igb3 802'

    ["vlan803v0"]='ixgbe0 803 9000'
    ["vlan803v1"]='ixgbe1 803 9000'
    ["vlan803v2"]='igb3 803'

    ["vlan900v0"]='ixgbe0 900 9000'
    ["vlan900v1"]='ixgbe1 900 9000'
    ["vlan900v2"]='igb3 900'
    
    ["vlan910v0"]='ixgbe0 910 9000'
    ["vlan910v1"]='ixgbe1 910 9000'
    ["vlan910v2"]='igb3 910'

    ["vlan930v0"]='ixgbe0 930 9000'
    ["vlan930v1"]='ixgbe1 930 9000'
    ["vlan930v2"]='igb3 930'
     
)


